<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @greeting %>
    </p>
    <p>
      Vielen Dank für Dein Interesse an BeerButton.
    </p>
    <p>
      Ich werde mich baldmöglichst mir Dir in Verbindung setzen.
    </p>
    <p>
      Freundliche Grüsse<br>
      Jascha Haldemann
    </p>
  </body>
</html>
