- @page_title = t('orders.open.title')

= turbo_stream_from 'open_orders', current_user.id, I18n.locale

.grid
  .s12
    %p
      = t('orders.total_count')
      %span{id: 'open-orders-count'}= @orders.count


.order-list{data: {controller: 'orders'}}
  %table.table.table-hover.table-dark
    %tbody.order-list-body#orders
      - @orders.each do |order|
        = render partial: 'single_order', locals: {order: order, target_name: ''}
