-# - set_meta_tags description: meta_tag_description('Home')
.home
  .grid
    .s12
      %h1.page-title= 'Project "BeerButton"'
      -# = image_tag 'home_title.jpg', width: '100%', alt: 'Home title image'
