- @page_title = t('home.title')

.home
  .grid
    .s12
      %h6.center-align= t('home.title1')
      %p.center-align= t('home.text11')
      .center-align= image_tag 'beer_1.png', width: '10%', alt: 'Beer image'
