-# - set_meta_tags description: meta_tag_description('Home')
.home
  .row
    .col.s12.center-align
      %h1.page-title{style: 'display: none;'}= 'BeerButton'
      -# = image_tag 'home_title.jpg', width: '100%', alt: 'Home title image'
