$color-default: #FEC652;
$color-text: #EDE3CA;
$color-black: #0B0A0A;
$color-white: #ffffff;
$color-grey: #3D4852;
$color-grey-dark: #222222;
$color-grey-light: #19475E;
$color-red: red;
$color-blue: #090666;
$color-yellow: yellow;
$color-green: lime;
