<template data-pwa--index-target="listItemTemplate">
  <div data-list-item-dom-id="{{ dom_id }}" >
    <a href="">
      <p>{{ name }}</p>
    </a>
  </div>
  <%= inline_svg_tag 'icons/cloud-not-synced.svg', size: '20*20' %>
</template>
