.main-black {
  background: $color-black;
  padding: 8rem 20rem;
}

.main-content {
  margin-bottom: 4rem;
}

.s12or-default {
  color: $color-default;
}

.hidden {
  display: none;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mirrored {
  transform: rotateY(180deg);
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.highlighted {
  font-family: CarterOne;
  top: 4px;
}

.page-title {
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
  font: $font-title;
  color: $color-default;
}

#error_explanation {
  margin-left: 15px;
}

@media only screen and (min-width: $min-widths-l) {
  nav.l.left ~ main.responsive {
    padding-left: 8rem;
  }
}

.pagination {
  text-align: center;
  justify-content: center;
  font-size: 24px;
  text-indent: 5px;
  li {
    display: inline-block;
    &.active {
      font-weight: bold;
      a {
        text-decoration: underline;
      }
    }
    a:hover {
      color: $color-default;
    }
  }
}

.image-footer {
  color: $color-default;
  position: absolute;
  bottom: -20px;
}

.admin-list-actions {
  display: flex;
  width: 100%;
}
